<script id="hb-avatar-lists" type="text/x-handlebars-template" >
<div class="hb-wrapper col-12 p-0">
    <div class="pagination--lists">
        {{#each lists}}
        <div class="card">
            <div class="card-header">
                <span class="title">{{name}} <a href="javascript:void(0)" data-toggle="popover" data-content="{{description}}" data-placement="bottom" class="description" data-trigger="focus"><img src="<?=base_url('public/images/icons/info.png');?>" /></a></span>
                
                <div class="checkbox">
                    {{generateRandomId 'gd'}}
                    <input type="checkbox" class="group-download" id="{{getRandomId}}">
                    <label for="{{getRandomId}}"></label>
                </div>
               
                <?php if ($this->session->has_userdata('username')) { ?>
                    {{#if is_favorite}}
                        <i class="favorite glyphicon glyphicon-star fa fa-star is-active" data-table="{{type}}" data-id="{{id}}"> </i>
                    {{else}}
                        <i class="favorite glyphicon glyphicon-star-empty fa fa-star" data-table="{{type}}" data-id="{{id}}"> </i>
                    {{/if}}
                <?php } ?>
                
            </div>
            <div class="img-holder">
                {{{image}}}
            </div>
            <div class="title-lv">{{name}}  <a href="javascript:void(0)" data-toggle="popover" data-content="{{description}}" data-placement="bottom"><img src="<?=base_url('public/images/icons/info.png');?>" /></a></div>
            <!-- card menu -->
            <div class="card-menu">
                <div class="custom-select card-download-size">
                    <label><img src="<?=base_url('public/images/icons/size-icon.png');?>" data-active="<?=base_url('public/images/icons/size-icon-black.png');?>" data-inactive="<?=base_url('public/images/icons/size-icon.png');?>"/> <span>Size</span></label>
                    <div class="options">
                        <div class="options-item" data-option="1">250 x 350</div>
                        <div class="options-item" data-option="2">500 x 700</div>
                        <div class="options-item" data-option="3">750 x 1050</div>
                    </div>
                </div>
                <div class="custom-select card-download-type">
                    <label><img src="<?=base_url('public/images/icons/download-icon.png');?>" data-active="<?=base_url('public/images/icons/download-icon-black.png');?>" data-inactive="<?=base_url('public/images/icons/download-icon.png');?>"/> <span>Download</span></label>
                    <div class="options">
                        <div class="options-item" data-option="PNG">PNG</div>
                        <div class="options-item" data-option="JPG">JPG</div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    <div class="mt-3 pagination--number"></div>
</div>
</script>