.avatar-position_container {
	padding: 0 15px;
	.avatar-position_lists {

		.img-holder-container {
			min-width: 100%;
			overflow-x: scroll;
			margin: 60px 0px;


			@include media-breakpoint-up (sm) {
				overflow-x: hidden;
			}

			.wrapper {
				width: 3000px;

				@include media-breakpoint-up (sm) {
					width: auto;
				}

				.img-holder {
					text-align: center;
					opacity: 0.5;
					cursor: pointer;
					float: left;
					// width: 150px;

					@include media-breakpoint-up (sm) {
						display: inline-block;
						width: 100%;
					}

					&.is-active {
						opacity: 1;
					}

					@include media-breakpoint-up (sm) {
						width: 48%;
					}
				}
			}
		}

	}

}


.avatar-maker_container {

	.avatar-maker {

		.avatar-maker_output {

			svg {
				width: 100%;

				@include media-breakpoint-up (sm) {
					height: 75vh;
				}
			}
			
		}

		.avatar-maker_customization {

			.collection {

				.collection__title {
					margin: 15px 0px;
					font-size: 16px;
					color: $primary-color;
				}

				.collection__sub-title {

				}

				.collection-color {

					&.collection-color--circle {
						
						.collection__item {
							width: 30px;
							height: 30px;
							border-radius: 50%;
							margin: 1px;
						}

					}

					.collection__item {
						width: 100px;
    					height: 100px;
    					display: inline-block;
    					margin: 5px 5px 5px 0px;
					}

				}
				
				.collection__item {
					margin: 10px 10px;
				    width: 100px;
				    height: 100px;
				    display: inline-block;
					background-color: #fff;
					cursor: pointer;

						&--circle {
							border-radius: 50%;
							box-shadow: 0px 0px 10px -1px #000;

							img {
								width: 100px;
							    height: 100px;
							    border-radius: 50%;
							    padding: 10px;
							}

							svg {
								display: none;
							}

						}

					&.is-active {
						border: 1px solid #c4c4c4;
						background-color: #fafbfb;
					}

				}

			}


		}

	}
}